extends ../layouts/main.pug

block variables 
    -var title = "Main page";
    -
        menuItems = [
            {"name": "Услуги", "url" : "#"},
            {"name": "Кейсы", "url" : "#"},
            {"name": "Блог", "url" : "#"}
        ];
    -
        contactsItems = [
            {"img": "icon-email.png", "url" : "#"},
            {"img": "icon-telegram.png", "url" : "#"},
            {"img": "icon-vk.png", "url" : "#"}
        ];

block content
    header.header
        div.container.d-flex.justify-content-between.align-items-center
            div.logo.d-flex
                img(src="../../img/logo.png", alt="Logo")
                div.logo__text
                    p.logo__text--name
                        |Евгений Малышенко
                    p.logo__text--status
                        |Копирайтер и маркетолог
            nav.nav
                ul.nav-list
                    for item in menuItems 
                        li.nav-item
                            a(href="" + item.url class="nav-item__link")
                                | #{item.name}
            div.contacts
                ul.contacts-list
                    for item in contactsItems
                        li.contacts-item
                            a(href="" + item.url class="contacts-item__link")
                                img(src="../../img/icons/" + item.img class="contacts-item__img")
    
    section.container.section-about
        h1.title.mt-160
            | Делаю контент для маркетинга и продаж
        p.title-addition.mt-20
            | Сайты, КП, презентации лендинги и другое
        p.text.text--pad.mt-70
            | Помогаю малому b2b-бизнесу рассказать о товарах или услугах так, чтобы их покупали. Придумываю, как выгодно преподнести новый продукт или усилить подачу существующего.
        p.text.text--pad.mt-20
            | Разберусь в задаче, сформулирую ценностное предложение. Упакую ценность в понятные маркетинговые материалы. Подключу дизайнера, верстальщика, сеошника, разработчика. Выпущу готовый инструмент продаж.

    section.section-works-presentation.container.mt-170
        .row
            +cardWorks("image1.jpg", "Технико-коммерческое предложение компании Фламакс", "Сделал большую работу по разработке КП производителя резервуаров", "22.22.2022")
            +cardWorks("image2.jpg", "Сайт производителя дверных систем Фабро", "Спроектировали страницы, написали тексты, сделали дизайн и запустили сайт", "22.22.2022")
            +cardWorks("image3.jpg", "Буклет для компании Вуденмэп", "Сделал большую работу по разработке КП производителя резервуаров.", "22.22.2022")

            +cardWorks("image1.jpg", "Технико-коммерческое предложение компании Фламакс", "Сделал большую работу по разработке КП производителя резервуаров", "22.22.2022")
            +cardWorks("image2.jpg", "Сайт производителя дверных систем Фабро", "Спроектировали страницы, написали тексты, сделали дизайн и запустили сайт", "22.22.2022")
            +cardWorks("image3.jpg", "Буклет для компании Вуденмэп", "Сделал большую работу по разработке КП производителя резервуаров.", "22.22.2022")
        .row
            button(type="button" class="btn btn-main btn--center mt-100") Больше примеров

    section.section-services.container.mt-160
        h1.title
            | Что я делаю
        p.text.text--pad.mt-70
            | Берусь за разовые проекты или регулярный выпуск контента. Предлагаю решения с учётом бюджетных ограничений малого бизнеса и этапа развития компании. 
        
        .card-services
            .card-services__wrapper.active.card1
                h3.subtitle.card-services__title
                    | Создаю сайты
                ul.card-services__list
                    li Многостраничники: от стратегии до запуска
                    li Простые интернет-магазины
                    li Лендинги на тильде, модексе и вордпрессе
                    li Тексты для сайтов
                    li Описания услуг
                    li Карточки товаров
                    li Кейсы
            .card-services__wrapper.active.card2
                h3.subtitle.card-services__title
                    | Презентую бизнес, товары и услуги
                p.text.mt-30
                    | Вникаю в бизнес. Разбираюсь что не так с продуктом: попадает ли он в аудиторию, почему нет продаж.
                p.text.mt-30
                    | Продумываю концепцию и делаю эффективный инструмент продаж под конкретную ситуацию. 
                ul.card-services__list
                    li Презентации
                    li Коммерческие предложения
                    li Кейсы
                    li Брошюры и буклеты
                a(href="#" class="card-services__link") Смотреть примеры

            .card-services__wrapper.card3
                h3.subtitle.card-services__title
                    | Дизайн
                ul.card-services__list
                    li Иллюстрации
                    li Инфографика
                    li Логотипы

            .card-services__wrapper.card4
                h3.subtitle.card-services__title
                    | Делаю нестандартный контент
                ul.card-services__list
                    li Методички
                    li Инструкции
                    li Руководства
                    li Интервью
                a(href="#" class="card-services__link") Пример методички по работе с #[br] отзывами на Вайлдберисе

            .card-services__wrapper.card5
                h3.subtitle.card-services__title
                    | Ещё могу помочь
                ul.card-services__list
                    li Спозиционировать продукт
                    li Определить ценность
                    li Собрать отзывы
                    li Подготовить интервью

    section.container.section-clients
        h1.title.mt-160
            | Мои клиенты ― небольшие и средние компании
        p.text.talign-center.mt-140
            | Более #[span(class="text--grand") 200] клиентов
        div.clients-list.mt-160
            img(src="../../img/logo/logo-wall.png" alt="logo1" class="clients-list__item")
            img(src="../../img/logo/logo-flamax.png" alt="logo2" class="clients-list__item")
            img(src="../../img/logo/logo-oboi.png" alt="logo3" class="clients-list__item")
            img(src="../../img/logo/logo-hpt.png" alt="logo4" class="clients-list__item")
            img(src="../../img/logo/logo-markirovka.png" alt="logo5" class="clients-list__item")
            img(src="../../img/logo/logo-woodenmap.png" alt="logo6" class="clients-list__item")
            img(src="../../img/logo/logo-tammantimebel.png" alt="logo7" class="clients-list__item")
            img(src="../../img/logo/logo-buh.png" alt="logo8" class="clients-list__item")
            img(src="../../img/logo/logo-expert-service.png" alt="logo9" class="clients-list__item")
            img(src="../../img/logo/logo-wild-orchid.png" alt="logo10" class="clients-list__item")
            img(src="../../img/logo/logo-finhouse.png" alt="logo11" class="clients-list__item")
            img(src="../../img/logo/logo-deli-labs.png" alt="logo12" class="clients-list__item")
            img(src="../../img/logo/logo-craftsmen.png" alt="logo13" class="clients-list__item")
            img(src="../../img/logo/logo-narhozstroy.png" alt="logo14" class="clients-list__item")
            img(src="../../img/logo/logo-gloryes.png" alt="logo15" class="clients-list__item")
            img(src="../../img/logo/logo-snc.png" alt="logo16" class="clients-list__item")

    section.container.section-author
        .row
            .col-6
                img(src="../../img/author.jpg" alt="img" class="section-author__img")
            .col-6.section-author__text
                .card-services__wrapper
                    h3.subtitle.card-services__title
                        | Это я
                    p.text.mt-30
                        | Живу в Иванове. Делаю маркетинг в штате “Первой цифровой типографии”
                    ul.card-services__list
                        li Провожу исследования
                        li Проверяю гипотезы
                        li Внедряю аналитику
                        li Запускаю рекламу
                        li В основном создаю сайты и другой контент
                .card-services__wrapper.active
                    p.text.mt-30
                        | Работаю удаленно с клиентами по всей России и СНГ
                    p.text.mt-30
                        | В основном это ИТ-компании, производства, оптовые поставщики, услуги для бизнеса, продавцы на маркетплейсах