script(src="./libs/jquery/jquery.min.js")
//- script(src="./libs/slick-carousel/slick.min.js")
//- script(src="./libs/magnific-popup/jquery.magnific-popup.min.js")
//- script(src="./libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")

script(src="./js/main.js")